<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forms</title>
</head>
<body bgcolor="lightblue">
    <form  method="post"    action="payment.html">
<fieldset >


       <legend   align="center">  <img src="KWASU.jpg" width="100" height="120" ></legend> 
    <font color="blue"><b><h2 align="center" > KWARA STATE UNIVERSITY SCHOOL FEES</h2></b></font>
    <hr color="white"    >
    <table border>
        <tr >
        <th colspan="3" width="200%" align="left"> School fees<font color="red">  check the fee you are to pay</font></th>
    </tr>
<tr>
<td align="center"><input type="checkbox"  value="250,000.00" data-ng-click="calAmount()"/></td>
<td width="190%">Tuition </td>
<td> <span class="money" width="10">   &#8358;250,000.00</span></td>
</tr> 
<tr>
      <td align="center"><input type="checkbox"  value="2,650.00" data-ng-click="calAmount()"/></td>
        <td >Counselling and Career Services (All Students)  </td>
        <td> <span class="money" width="10">   &#8358;2,650.00</span></td>
</tr>
<tr>
        <td align="center"><input type="checkbox"  value="1,000.00" data-ng-click="calAmount()"/></td>
          <td >Student Union Due  </td>
          <td> <span class="money" width="10">   &#8358;1,000.00</span></td>
  </tr>
<tr>
        <td align="center"><input type="checkbox"  value="1,000.00" data-ng-click="calAmount()"/></td>
          <td >Fitness  </td>
          <td> <span class="money" width="10">   &#8358;1,000.00</span></td>
  </tr>
  <tr>
        <td align="center"><input type="checkbox"  value="20,000.00" data-ng-click="calAmount()"/></td>
          <td >Departmental  </td>
          <td> <span class="money" width="10">   &#8358;20,000.00</span></td>
  </tr>
  <tr>
        <td align="center"><input type="checkbox"  value="7,000.00" data-ng-click="calAmount()"/></td>
          <td >e-Learning Services   </td>
          <td> <span class="money" width="10">   &#8358;7,000.00</span></td>
  </tr>
  <tr>
  <td align="center"><input type="checkbox"  value="300.00" data-ng-click="calAmount()"/></td>
  <td >Transaction charge</td>
  <td> <span class="money" width="10">   &#8358;300.00</span></td>
</tr>
<tr bgcolor="grey">  
        <td colspan="2" align="left"> <b>Total</b> </td>
        <td> <span class="money" width="10">   &#8358; </span></td>
 </tr>
</table>
</fieldset>
        <p  align="center"> <a href="login.html"><input type="button" value="PAY"></a>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <a href="textbox.html">Back </a>      </p>
    </form>
</body>
</html>